<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./member.css")
    body
        #member
            .member
                .member__super
                    .member__super--item.member__super--left
                        h2.member__title Super Membership
                        p.member__desc Join at a special price of just
                        h2.member__price
                            | Rs 
                            strike  999 
                            |   Rs 699/ month
                        p.member__days You can cancel anytime within first 15 days
                        .member__link
                            a(href="#") JOIN NOW
                    .member__super--item.member__super__right
                        .member__box
                            img.member__img(src="./images/bg-super.png", alt="")
                .member__saving
                    h2 Saving Gets Bigger With Membership
                    .saving
                        .saving__left
                            .saving__one.saving__item
                                h3 Benefits
                                ul
                                    li Extra Savings on Products
                                    li Free Delivery Every Day
                                    li ChfMart Protect
                                    li ChfBucks Points
                            .saving__two.saving__item
                                h3 Without Membership
                                ul
                                    li ₹120
                                    li No
                                    li No
                                    li No
                                button.saving__button.saving__button--white ₹120
                        .saving__right
                            .saving__three.saving__item
                                h3 With Membership
                                ul
                                    li ₹240
                                    li ₹39 (Free)
                                    li Yes
                                    li ₹12
                                button.saving__button.saving__button--green ₹291
                .member__delivery.member__item
                    .member__left
                        .member__box
                            img.member__img(src="./images/icon-delivery.png", alt="")
                    .member__right
                        h2.member__tit
                            strong Free 
                            | Delivery
                        .member__des
                            p We realise the cost involved in running  your business. As a ChfMart Super Member, get unlimited free deliveries on all orders above ₹1000. Now order anytime & as much as you want.
                .member__cashback.member__item
                    .member__left
                        .member__box
                            img.member__img(src="./images/icon-cash.png", alt="")
                    .member__right
                        h2.member__tit
                            strong Monthly  
                            | Cashback
                        .member__des
                            p We know its a leap of faith to pay ₹999 up front. To make the leap easier for you we’re giving you ₹250 cashback every week (maximum ₹1000). Which means you pay us ₹999 and we give you ₹1000 back.
                .member__protect.member__item
                    .member__left
                        .member__box
                            img.member__img(src="./images/icon-protect.png", alt="")
                    .member__right
                        h2.member__tit
                            strong ChfMart  
                            | Protect
                        .member__des
                            p No more rotten vegetables, weight difference, tempered package or expired products. All your ordered items gets personally screened by our agents before delivery.